BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//jwksformatter//NONSGML jwksformatter//EN
CALSCALE:GREGORIAN
METHOD:PUBLISH
NAME:Certificate Expirations
{{range .Keys -}}
BEGIN:VEVENT
UID:{{.UUID}}
SUMMARY:Certificate {{.Use}}/{{.Kid}} expires
STATUS:CONFIRMED
TRANSP:TRANSPARENT
DTSTART;VALUE=DATE:{{.Expires "20060102"}}
DTEND;VALUE=DATE:{{.Expires "20060102"}}
DTSTAMP:{{.Expires "20060102T150405Z"}}
CATEGORIES:Certificate Rotation
LOCATION:London,Europe
SUMMARY:Certificate Expiration
DESCRIPTION:{{- .Kid}},{{.Serial}},{{.Use}},{{.Issuer}}
END:VEVENT
{{end -}}
END:VCALENDAR
